.azad1{
    width: 1440px;
    height: 656px;
    flex-shrink: 0;
    display: flex;
}
.azad1-sub1{
    width: 50%;
    background: #434CCC;
    color: var(--Text_White, #FFF);
    padding-left: 135px;

    #azad1-h5{
        margin-top: 127px;
        width: 127px;
        height: 24px;

        h5{
            /* H5 */
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    }

    #azad1-h2{
        margin-top: 21px;
        width: 331px;
        height: 128px;

        h2{
            /* H2 */
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px; /* 114.286% */
        }
    }

    #azad1-p{
        margin-top: 29px;
        width: 470px;
        height: 103px;
        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 160% */
        }
    }

    button{
        margin-top: 32px;
        flex-shrink: 0;
        width: 170px;
        height: 48px;

        color: #FFF;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */

        border-radius: 5px;
        background: var(--Primary_2, #F1B505);
        border: none;
    }
}

.azad2{
    padding: 0;
    margin: 0;
    width: 1440px;
    height: 800px;
    color: var(--Text_Black, #000);
    display: flex;
    flex-direction: column;
    align-items: center;

    .azad2-h5{
        margin: 0;
        padding: 0;
        margin-top: 63px;
        width: 140px;
        height: 24px;
        text-align: center;

        h5{
            /* H5 */
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    }

    .azad2-h2{
        margin: 0;
        padding: 0;
        margin-top: 21px;
        width: 321px;
        height: 64px;
        h2{
            /* H2 */
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px; /* 114.286% */
        }
    }

    .azad2-p{
        margin: 0;
        padding: 0;
        margin-top: 29px;
        width: 570px;
        height: 83px;
        text-align: center;

        p{           
            /* Text_Big */
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 160% */
        }
    }

    .azad-card{
        margin: 0;
        padding: 0;
        margin-top: 36px;
        height: 485px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    
        .card{
            width: 370px;
            height: 480px;
            flex-shrink: 0;        
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
            
            .card-img{
                margin: 32px;         
                img{
                    border-radius: 50%;
                }
            }
            .card-h4{
                width: auto;
                height: 32px;
                margin-left: 30px;
                h4{
                    color: var(--Text_Black, #000);
                    /* H4 */
                    font-family: DM Serif Display;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; /* 133.333% */
                }
            }

            .details{
                margin-left: 32px;
                margin-top: 24px;
                .underline{
                    width: 338px;
                    height: 1px;
                    flex-shrink: 0;
                    opacity: 0.1011;
                    background: #000;
                }
                .card-p-media{
                    margin-top: 18px;
                    display: flex;
                    justify-content: space-between;
                    p{
                        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                        /* Text_Gray */
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }
                    .social-media{
                        a{
                            margin-right: 24px;
                            fill: #000;
                            opacity: 0.3183;
                        }
                    }
                }
            }
        }
    }
}

