
.ravi{
    width: 1440px;
    background-color: #f5f6fc;
    height: 1568px;
    flex-shrink: 0;
}
.box{
    /* border: 2px solid ; */
    /* border: 2px solid red; */
    /* position: relative; */
    /* top: */
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1{
    /* border: 2px solid orange; */
    border-radius: 10px;
    width: 570px;
    height: 512px;
    // flex-shrink: 0;
    // position: absolute;
    // top:128px;
    // left: 130px;
    // right: 735px;
    background-image: url(box1.png);
    background-size: cover;
    background-position: ;
}
#box2{
    width: 570px;
    height: 512px;
    flex-shrink: 0;
    /* border: 2px solid green; */
    border-radius: 10px;
    // position:absolute;
    // top: 128px;
    // left:735px;
    // right: 130px;
    background-image: url(box2.png);

}
#btn3{
    border: 1px solid #434CCC;
    background-color:#f5f6fc ;
     color: #434CCC;
    position:absolute;
    font-weight: bolder;
    border-radius: 10px;
    // top: 688px;
    // right: 635px;
    // left: 635px;
    width: 170px;
    height: 48px;
}
#p1{
    // position: absolute;
    // top: 48px;
    // left: 91px;
    height: 24px;
    width: 71px;
    color: rgba(255,255, 255, 0.50);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
#p2{
    // position: relative;
    // top: 80px;
    // left: 91px;
    // height: 96px;
    width: 161px;
    color: var(--Text_White, #FFF);
   font-family: DM Serif Display;
    font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 133.333% */        
}
#smallBox1{
    // position: relative;
    // top: 70px;
    // left: 91px;
    // height: 48px;
    width: 48px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(Combined\ Shape.png);
    background-size: cover; */
    
}
.small{
    height: 24px;
    width: 24px;
    background-image: url(plus.png);
    background-size: cover;
}
#p3{
    // position: absolute;
    // top: 48px;
    // left: 91px;
    /* left: 735px; */
    width: 71px;
    height: 24px;
   color: var(--text-white-50, rgba(255, 255, 255, 0.50));
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#p4{
    height: 96px;
    width: 147px;
    // position: relative;
    // top: 80px;
    // left: 91px;
    /* padding: 50px; */
    /* top: 50px; */
    /* right: 735px; */
    color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
#smallBox2{
    // position: relative;
    // top: 70px;
    // left: 91px;
    height: 48px;
    width: 48px;
    border: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.img{
    // position: absolute;
    // top: 760px;
    // left: 10px;
    height: 729px;
    width: 1094px;

    background: url(clip-log-out.png);
    /* , lightgray 0px 0px / 100% 100% no-repeat */
}
#h1{
    // position: absolute;
    // top: 900px;
    // left: 735px;
    width: 453px;
    height: 128px;
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
  font-size: 55px;
   font-style: normal;
  font-weight: 420px;
  line-height: 64px; /* 114.286% */
}
#p5{
    // position: absolute;
    // top: 1055px;
    // left: 735px;
    width: 570px;
    height: 69px;
    color: var(--Text_Black, #000);

   font-family: DM Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; 
   padding-top: 27px;
}
.icon1{
//     position: absolute;
//     top: 1220px;
//    left: 735px;
    height: 40px;
    width: 50px;
    background-image: url(time.png);
    background-size: cover;

}
.icon2{
    // position: absolute;
    // top: 1220px;
    // left: 1035px;
    height: 52px;
    width: 38px;
    background-image: url(Combined\ Shape.png);
    background-size: cover;
}
#h2{
    // position: absolute;
    // top: 1248px;
    // left: 735px;
    width: 110px;
    height: 32px;

    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 425px;
    line-height: 32px; /* 133.333% */
}
.p6{
    // position: absolute;
    // top: 1287px;
    // left: 735px;
    /* right: 435px; */
    /* padding: 7px; */
    margin-top: 35px;
    height: 51px;
    width: 260px;
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#h3{
    // position: absolute;
    // top: 1248px;
    // left: 1035px;
    width: 103px;
    height: 32px;
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 425px;
    line-height: 32px; /* 133.333% */
}
.p7{
    // position: absolute;
    // top: 1287px;
    // left: 1035px;
    width: 270px;
    height: 51px;
    /* padding: 7px; */
    margin-top: 35px;
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 24px;
}