body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 1440px;
  height: 11568px;
}

.supriya {
  width: 1440px;
  height: 2864px;
  background-color: pink;
}

.pavan {
  width: 1440px;
  height: auto;
}

.azad {
  width: 1440px;
  height: 2256px;
  background-color: blue;
}

.gaurav {
  width: 1440px;
  height: 2400px;
  background-color: yellow;
}

.ravi {
  width: 1440px;
  height: 1712px;
  background-color: green;
}

#container-main1 {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background: #434CCC;
}

.pavan {
  padding: 0;
  margin: 0;
  min-height: 2096px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFDD78;
  width: 100%;
  height: 768px;
}

.text1 {
  max-width: 520px;
  padding: 60px 0px 36px 0px;
  text-align: center;
}
.text1 h2 {
  color: black;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.text1 p {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.box {
  display: flex;
  gap: 30px;
}

.cart {
  box-sizing: border-box;
  width: 370px;
  height: 416px;
  border-radius: 5px;
  padding: 62px 32px 21px 32px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.cart #p-1 {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
}
.cart #p-2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.cart #p-3 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.cart #img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
  height: 115px;
}
.cart #img-1 {
  width: 132px;
  height: 114px;
}
.cart #img-2 {
  width: 186px;
  height: 96px;
}
.cart #img-3 {
  width: 144px;
  height: 126px;
}
.cart hr {
  margin: 25px 0px 20px 0px;
}

.white {
  background-color: white;
  height: 1328px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.white .white-text {
  margin: 63px 0px 13px 0px;
  text-align: center;
}
.white .white-text #w-1 {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.white .white-text #w-2 {
  text-align: center;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}
.white .white-text #w-3 {
  max-width: 500px;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.contest-image-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contest-image-1 .con-img1 {
  background-image: url(./images/woman.png);
  background-position: center;
  background-size: cover;
  width: 484px;
  height: 456px;
}

.contest-image-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.contest-image-2 .con-img2 {
  background-image: url(./images/woman1.png);
  background-position: center;
  background-size: cover;
  width: 484px;
  height: 456px;
}
.contest-image-2 #c-21 {
  width: 410px;
  color: #000;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

#c-1 {
  color: #000;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  max-width: 323px;
}

#c-2 {
  max-width: 450px;
  color: rgba(0, 0, 0, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

#c-3 {
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

@media all and (max-width: 375px) {
  .pavan {
    width: 375px;
  }
  .orange {
    height: 1632px;
    width: 375px;
  }
  .text1 > h2 {
    font-size: 40px;
  }
  .con-img2 {
    width: 317px;
    height: 345px;
  }
  .con-img1 {
    width: 344px;
    height: 396px;
  }
  .white {
    width: 375px;
    height: fit-content;
  }
  .box {
    flex-direction: column;
    gap: 2px;
  }
  .contest-image-1 {
    flex-direction: column;
  }
  .contest-image-2 {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
