body {
  margin: 0px;
  padding: 0px;
}

.container{
    width: 1440px;
    height: auto;
    padding-bottom: 50px;
}

.azad{
    width: 1440px;
    min-height: 1500px;
}
.pavan{
  width: 1440px;
  min-height: 2096px;
  background-color: red;
}

@import "pavan";
@import "azad";
